extends ../template

block variables
  - var title = 'Текстовая страница'

block content
  section.text.margin-section
    .container 
      h1.h1title.text__title Политика конфиденциальности  
      p During every order checkout on this website, declare to have read and accepted acknowledge the general terms and conditions of sales, and the End User License Agreement (EULA) before ordering.
      p This general terms and conditions of sale may be updated, modified or partly replaced at any time without notice. It is the user responsibility to visit this page and check for any modifications. Your continued use of the website, following any revision to the general terms and conditions of sales, means you also assent to these changes.
      h2.text__subtitle End user licence agreement (EULA)
      p By purchasing one of our products, user declare to have read and accepted acknowledge the End User License Agreement (EULA), which specify the authorized uses of our products.
      p Read the End User License Agreement (EULA).
      h2.text__subtitle Prices and payment 
      p All prices from vj-type.com are in Euro and free of taxes. All prices are subject to change without prior notice.
      p French and EU customers (doesn’t apply to international customers) of vj-type.com will have to pay the additional French tax “VAT” at 20% (which is calculated during check out. VAT will appear in the checkout page and in the final invoice. EU customers : to avoid paying French VAT during the purchase, you can fill the EU VAT number box with your valid EU VAT number. This option makes you pay your own local VAT.
      p This website offer various payment options : CB, MasterCard, Visa, PayPal.
      p For a payment by wire transfer, users are invited to contact us for more information by email at: vj.type@gmail.com. The download link will only be available once the payment has been processed.
      p The advertised price must be paid in full after the order confirmation. Data recorded by VJ Type be evidence of all transactions between you and VJ Type.
