$primary-color: #67534e;
$primary-text-color: #242423;
$primary-shade-color: #3d3d3b;
$primary-hover-color: #836963;
$primary-focus-color: #493a37;

$secondary-color: #8ed0e0;
$secondary-10-color: #f7fcfd;
$secondary-stroke-color: #dff2f6;
$secondary-hover-color: #3fafca;

$tertiary-color: #ed6a4d;
$tertiary-hover-color: #e94521;

$neutral-color-2: #3d3d3b;
$neutral-color-3: #585855;
$neutral-color-4: #72726e;
$neutral-color-5: #8c8c88;
$neutral-color-6: #a5a5a2;
$neutral-color-7: #bebebc;
$neutral-color-8: #d7d7d5;
$neutral-color-9: #f0f0ef;
$neutral-color-10: #fff;

$system-success-color: #64bc26;
$system-warning-color: #fd9900;
$system-error-color: #fe2712;
