@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria-medium.woff2') format('woff2'),
    url('../fonts/geometria-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria.woff2') format('woff2'),
    url('../fonts/geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
